html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

body{background-color: lavender}

.main_wrapper{
  width: 1000px;
  height: auto;
  margin: auto;
  background: silver;
}

.header_wrapper{
  width: 1000px;
  height: 100px;
  margin: auto;
}

.menubar{
  width: 1000px;
  height: 55px;
  background: steelblue;
}

#logo {float:left; background-color: white; border-width: thick;border-color: black ; height: 100px; width: 1000px;}
#banner {float: right;}
#banner1 {background-color: white;}
#menu {padding: 0;margin: 0;line-height: 50px;float: left;}
#form {float: right;padding-right: 8px; line-height: 50px;}

#menu li{
  list-style: none;
  display: inline;
}

#menu a{
  text-decoration: none;
  color: white;
  padding: 8px;
  margin: 5px;
  font-size: 18px;
  font-family: monospace;
  font-weight: bold;
}

#menu a:hover{font-weight: lighter;}

.content_wrapper{
  width: 1000px;
  margin: auto;
  float: left;
  background-color: lightsteelblue;
}

#content_area{  width: 800px; float: left; background-color: lightsteelblue;}
#sidebar{ width: 200px; float: right;background-color: seagreen;}
#sidebar_title{background:darkslategray;color: white;font-size: 22px;font-family: arial;padding: 10px;text-align: center;}
#cats{text-align: left;}
#cats li{list-style: none; margin: 20px;}
#cats a{color: white;font-weight: bold;margin: 0px; padding: 0px; text-align: center; font-size: 18px;text-decoration: none;font-family: Comic Sans MS;}
#cats a:hover{font-weight: lighter;}
#cats img {border:2px solid white; padding:4px;}

#products_box{
  width: 780px;
  text-align: center;
  margin-left: 30px;
  margin-bottom: 10px;
}

#single_product{ float: left;margin-left: 30px; padding: 10px;}
#single_product img{border: 2px solid black;}
#shopping_cart{width: 800px; height: 45px; background: plum}

#footer{width: 1000px;height: 50px;background-color: white; clear: both;}
